@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0f1117;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2b3145;
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5865F2;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mirror {
    transform: scaleX(-1);
  }
}

@keyframes bounceFloat {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px) scale(0.6);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0px) scale(1.2);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -60px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100px) scale(0.8);
  }
}

.animate-bounce-float {
  animation: bounceFloat 1.8s ease-out forwards;
}
